.r{position:relative}
.a{position:absolute}
.f{position:fixed}

.fc:after{content:" ";display:block;height:0;clear:both;visibility:hidden}
.fl{float:left}
.fr{float:right}

.ir{display:block;font-size:.1em;text-indent:100%;white-space:nowrap;overflow:hidden}
.sh{-webkit-box-shadow:0 0 6px #666;-moz-box-shadow:0 0 6px #666;box-shadow:0 0 6px #666}

.ra{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.ib{display:-moz-inline-stack;display:inline-block;vertical-align:top;*display:inline;*zoom:1}

.ts{text-shadow:1px 1px #000}
.tr{text-align:right}
.tc{text-align:center}

.b{display:block}
.h{display:none}

.p{padding:10px}