.slider-frame {
	position: relative;
	overflow: hidden;
}
.slider-frame .ctrl {
	position: absolute;
	top: 0;
	z-index: 1000;
	width: 68px;
	height: 100%;
	cursor: pointer;	
	opacity: 0;
}
.slider-frame .ctrl:hover {
	opacity: 1;
}
.slider-frame .ctrl.prev {
	left: 0px;
}
.slider-frame .ctrl.next {
	right: 0;
}

.slider-frame .ctrl span {
	font-size: 2em;
	color: #fff;
	position: relative;
  	top: 50%;
  	transform: perspective(1px) translateY(-50%);
	background: rgba(0,0,0,0.6);
	border-radius: 50%;
	padding: 20px;
}

.slider-frame .slider-container {
	transition: margin-left .2s ease, left .5s ease;
	position: absolute;
	left: 0;
}
.slider-frame .slider-container .slide {
	float: left;
	position: relative;
	top: 0;
	transition: width .2s ease, height .2s ease, top .2s ease;
}

/**/
.item figure {
	position: relative;
	z-index: 1;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	margin-bottom: 30px;
}

.item figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}

.item figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.itemd figure figcaption::before,
.item figure figcaption::after {
	pointer-events: none;
}

.item figure figcaption,
.item figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
.item figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.item figure h2 {
	word-spacing: -0.15em;	
	font-weight: 300;
	font-size: 1.4em;
}

.item figure h2 span {
	font-weight: 800;
}

.item figure h2,
.item figure p {
	margin: 0;
}

.item figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* effect */
.item figure {
	background: #2f3238;
}

.media-grid .item figure img {
	max-width: none;
	height: 250px;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.slider-container .item figure img {
	width: 100%;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.item figure figcaption {
	text-align: left;
}

.item figure h2 {
	position: relative;
	padding: 0.5em 0;
}

.item figure p {
	display: inline-block;
	margin: 0 0 0.25em;
	padding: 0.4em 1em;
	background: rgba(255,255,255,0.9);
	color: #2f3238;
	text-transform: none;
	font-weight: 500;
	font-size: 75%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-360px,0,0);
	transform: translate3d(-360px,0,0);
}

.item figure p:first-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.item figure p:nth-of-type(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.item figure p:nth-of-type(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.item figure:hover p:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.item figure:hover p:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.item figure:hover p:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.item figure:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

.item figure:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}