.pr{position:relative}
.pa{position:absolute}
.pf{position:fixed}

.fc:after{content:" ";display:block;height:0;clear:both;visibility:hidden}
.fl{float:left}
.fr{float:right}

.br{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.ir{display:block;font-size:.1em;text-indent:100%;white-space:nowrap;overflow:hidden}

.tal{text-align:left}
.tar{text-align:right}
.tac{text-align:center}

.tsh{text-shadow:1px 1px #000}
.bsh{-webkit-box-shadow:0 0 6px #666;-moz-box-shadow:0 0 6px #666;box-shadow:0 0 6px #666}

.dib{display:-moz-inline-stack;display:inline-block;vertical-align:top;*display:inline;*zoom:1}
.db{display:block}
.dh{display:none}