.rel{position:relative}
.abs{position:absolute}
.fxd{position:fixed}

.z10{z-index:10}
.z5{z-index:5}

.float-c:after{content:" ";display:block;height:0;clear:both;visibility:hidden}
.float-l{float:left}
.float-r{float:right}

.img-r{display:block;font-size:.1em;text-indent:100%;white-space:nowrap;overflow:hidden}
.shadow{-webkit-box-shadow:0 0 6px #666;-moz-box-shadow:0 0 6px #666;box-shadow:0 0 6px #666}

.radius{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.inline-block{display:-moz-inline-stack;display:inline-block;vertical-align:top;*display:inline;*zoom:1}

.block{display:block}
.hide{display:none}