/*loading page begin*/
.loading-page{display:block}
.page{display:none}
.loading-page{top:0;right:0;bottom:0;left:0;background:#fff url(../img/loading.gif) center center no-repeat}
/*loading page end*/

.bx{margin:0 5px 10px 5px;background:#f4f4f4}
.row + .row{margin-top:0}

/*stile*/
body{font:62.5% 'PT Sans',Arial,sans-serif;background-color:#fff;color:#000}
p,ul,ol,form{font-size:1.3em;line-height:1.4em}

.bg{top:0;right:0;bottom:0;left:0;z-index:-2;background-image:url(../img/bg.svg);background-size:cover;background-position:center}
.logo{width:200px;height:60px;background-image:url(../img/gfaktor.logo.png)}